:root{
    --lightw:#FFFFFF;
}
body{
    padding: 0px;
    margin: 0px;
}
.header-search-bar{
 background-color: var(--lightw);
 border:0.5px solid rgb(0 0 0 / 10%);
 border-radius: 200px;
 display: flex;
 min-height: 56px;
 min-width: 285px;
 align-items: center;
 box-shadow: 0px 2px 5px #d6d0d0;
}
.header-search-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: none;
    padding: 0;
}
.header-search-box-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-search-second-span-container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.header-search-svg-container{
    padding:0px 20px;
}
.header-search-where-to-span{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.header-last-button{
    border: none;
    background: transparent;
}
.header-last-button-svg-container{
    border: 1px solid #dddddd;
    border-radius: 25px;
    /* margin: 0 10px; */
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: center;
    width: 36px;
}
.header-searchbar-container{
    padding: 14px 24px 0 24px;
}
.header-span{
    display: grid;
    min-width: 52px;
}
#span-one{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#span-two{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#span-three{
    overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;

}
.header-span > *{
    font-size: 12px;
    color: #717171;
}
.header-search-dot-container{
    padding: 0 5px;
    color: #717171;
    font-size: 12px;
}
.header-search-bar-last-button{
    height: 54px;
    width: 44px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-left: auto;
}
.slider{
    display: grid;
    grid-auto-flow: column;
    grid-template: (6 , 1fr);
    overflow: scroll;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap:16px;
    padding: 0px 24px;
}
.slider::-webkit-scrollbar { width: 0 !important }
.in-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    margin: 14px 0px;
}
.span-in-slider{
    font-size: 12.5px;
    color:#717171;
    padding-top: 4px;
    font-weight: bold;
}
.img-slider{
    width: 24px;
    height: 24px;
}
.img-slider > *{
    width: 100%;
    color: #717171;
    filter:contrast(0.3)
}
.image-container-section > *{
    width: 100%;
}
.content-grid{
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#span-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.span-section-grid{
    grid-column: 1/2;
}
#span-section{
    grid-column:2/3;
    grid-row: 1/2;
}