:root{
    --lightw:#FFFFFF;
}
body{
    padding: 0px;
    margin: 0px;
    font-family:Roboto;
    height: 100%;
}
.header-search-bar{
 background-color: var(--lightw);
 border:0.5px solid rgb(0 0 0 / 10%);
 border-radius: 200px;
 display: flex;
 min-height: 56px;
 min-width: 285px;
 align-items: center;
 box-shadow: 0px 2px 5px #d6d0d0;
}
.header-search-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: transparent;
    border: none;
    padding: 0;
}
.header-search-box-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-search-second-span-container{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.header-search-svg-container{
    padding:0px 20px;
}
.header-search-where-to-span{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.header-last-button{
    border: none;
    background: transparent;
}
.header-last-button-svg-container{
    border: 1px solid #dddddd;
    border-radius: 25px;
    /* margin: 0 10px; */
    display: flex;
    align-items: center;
    height: 36px;
    justify-content: center;
    width: 36px;
}
.header-searchbar-container{
    padding: 14px 24px 5px 24px;
}
.header-span{
    display: grid;
    min-width: 52px;
}
#span-one{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#span-two{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#span-three{
    overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;

}
.header-span > *{
    font-size: 12px;
    color: #717171;
}
.header-search-dot-container{
    padding: 0 5px;
    color: #717171;
    font-size: 12px;
}
.header-search-bar-last-button{
    height: 54px;
    width: 44px;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    margin-left: auto;
}
.slider{
    display: grid;
    grid-auto-flow: column;
    grid-template: (6 , 1fr);
    overflow: scroll;
    justify-content: flex-start;
    align-items: center;
    grid-column-gap:16px;
    padding: 0px 24px;
    height:71px;
    background-color:#FFFFFF;
    overflow-y:hidden;

}
.slider::-webkit-scrollbar { width: 0 !important }
.in-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80px;
    margin: 14px 0px;
}
.span-in-slider{
    font-size: 12.5px;
    color:#717171;
    padding-top: 4px;
    font-weight: bold;
    white-space: nowrap;
}
.img-slider{
    width: 24px;
    height: 24px;
}
.img-slider > *{
    width: 100%;
    color: #717171;
    filter:contrast(0.3)
}
.image-container-section img{
    width: 100%;
    margin-bottom: 12px;
}
.content-grid{
    display: grid;
    grid-template-columns:2fr 0.4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#span-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:50px;
    height: 19px;
}
.span-section-grid{
    grid-column: 1/2;
}
#span-section{
    grid-column:2/3;
    grid-row: 1/2;
    align-items:baseline;
}
.section-image-container-two{
    display: grid;
    grid-row-gap: 30px;
    padding-bottom:39px;
    border-bottom: 1px solid #DDDD;
}
.image-container-section img{
border-radius: 12px;
min-height: 258px;
object-fit: cover;
}
#margin-section{
    margin-top: 2px;
}
.image-container-section{
    min-height: 258px;
    position: relative;
}
.svg-heart{
position: absolute;
top: 14px;
right:13px;
}
.section-image-container{
    padding: 0px 24px;
    padding-top:23px;
}
.second-section{
    text-align:center;
    margin-top: 56px;
}
.second-section-text{
    font-size:18px;
    color: #222222;
    font-weight: 600;
}
.second-section-second-text{
     display:inline-flex;
}
.anchor-tag-third-section{
    padding: 10px 10px 10px 0px;
}
.third-section-text-one{
    padding-bottom:12px;
    position: relative;
}
.div-for-border{
    background-color:rgb(221, 221, 221);
    padding:0.1px;
}
.for-border-strong{
    padding: 1px;
    background-color:#222222;
    width: 86px;
    position: absolute;
    top: 30px;
}
.third-section-flex-container{
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.third-section-flex-container > *{
padding-top: 24px;
min-width: 163px;
width: 50%;
}
.third-section-href{
    text-decoration: none;
    font-size:14px;
}
.third-section-href > div + div {
    color:#717171;
    margin-top: 4px;
} 
.third-section-href > div{
    color: #222222;
}
.third-section{
    padding-bottom:40px;
}
.first-footer-first-part > h3{
    font-size: 14px;
}
.first-footer-first-part > p{
    font-size:14px;
    color:#222222;
}
.footer-first-part > *{
    padding-bottom:24px;
    margin-bottom:24px;
    border-bottom:1px solid #DDDDDD;
}
.last-part-last-links-footer > *{
    font-size: 14px;
    padding: 0px 2px 0px 2px;
}
.last-part-last-links-footer a{
    text-decoration:none;
    color: #222222;
}
.rupees-container-footer-last{
    height: 18px;
}
.footer-last-part-one{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 156px;
    margin-bottom: 16px;
}
.footer-last-part-svg-container{
    display:flex;
    width: 97px;
    justify-content:space-between;
}
.slider-container::after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    bottom: 0px;
    /* box-shadow:2px 2px 5px #717171; */
    border-bottom:2px inset #f3eeee;
    padding: 1px;
}
header{
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}
.slider-container{
    height:70px;
}
.section-unknown{
padding:0px 24px; 
padding-bottom:50px;
}
.unknown-section{
    padding:0px 24px;
}
@media only screen and (max-width:744px){
.footer-main-container{
    padding:24px;
}
.facebook-svg-container{
    display:none;
}
.twitter-svg-container{
    display:none;
}
.insta-svg-contaner{
    display:none;
}
.footer-main-container{
    padding: 24px;
}
.header-tab-view{
    display:none;
}
.static-container-container{
    display:none;
}
}
@media only screen and (min-width:744px){
    .third-section-flex-container > *{
        width:33%;
    }
    .first-footer-first-part > h3{
        width: 80%;
        margin-bottom:0;
    }
    .first-footer-first-part > p{
        flex-basis: 33.33%;
         margin-bottom: 0px;
    }
    .footer-main-container{
        padding: 40px;
    }
    .first-footer-first-part{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .first-footer-first-part p > span{
        height: 28px;
        display: inline-block;
        padding-right: 17px;
        line-height: 1.3;
    }
    .footer-last-part{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .footer-last-part-one{
        width: 320px;
    }
    .rupees-container-footer-last{
        margin-right:25px;
    }

   .section-unknown{
         padding-left:40px; 
         padding-right:40px;
         padding-bottom:0px;
         margin-bottom:44px;
   }
   .third-section{
    padding-bottom:0px!important;
   }
   .unknown-section{
    padding:0px 40px!important;
   }
}
@media only screen and (min-width:550px){
    .section-image-container-two{
        grid-row-gap:36px;
        grid-template-columns: 1fr 1fr;
        grid-column-gap:22px;
        display:grid;
    }
    .image-container-section img{
        min-height:263px;
    }
}
@media only screen and (min-width:744px){
       .header-container{
        display:none;
       }
       #hide-logo{
        display:none;
       }
       header{
        height:82px;
       }
       .svg-two-cont{
        height:92%;
        padding-top: 6px;
        padding-right: 5px;
       }
       .header-tab-view{
        display:flex;
        height: 82px !important;
       }
       .first-part-header{
        display:flex;
       }
       .search-bar-header-top{
        display:flex;
        border: 1px solid #DDDDDD;
        box-shadow:0 1px #d6d0d0;
        border-radius: 30px;
        align-items:center;
        height: 48px;
       }
       .second-part-header{
        display: flex;
        justify-content:space-between;
        width: 239px;
        align-items: center;
       }
       .header-right-part{
        display:inline-flex;
        width: 77px;
        height: 42px;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #dddddd;
        border-radius:30px;
        position:relative;

       }
       .header-tab-view{
        padding: 0px 40px;
        height:100px;
        align-items: center;
        justify-content:space-between;
       }
       .search-bar-header-top > div > span{
            font-size:14px;
            font-weight: 600;
       }
       .search-bar-header-top > span {
        width: 1px;
        height:24px;
        background-color:#DDDDDD;
       }
       .search-bar-header-top > div{
        padding: 0px 16px;
       }
       .header-svg-container-search{
        padding: 0px !important;
        height:32px;
        width:32px;
        display:flex;
        align-items: center;
        justify-content:center;
        background-color: #FF385C;
        border-radius:100%;
        margin: 3px 6px 3px 0px;
       }
       .svg-container{
        display:flex;
        align-items: center;
        }
        .anywhere-header-atag{
            font-size:14px;
        }
        .section-image-container{
            padding-top:137px;
            padding-left: 40px;
            padding-right:40px;
        }
        .svg-one-cont{
            padding-left:11px;
        }
        .header-round{
            padding:5px;
            border-radius: 100%;
            background-color:#FF385C;
            position: absolute;
            top: 0;
            right:4px;
            border: 1px solid white;
            border-radius: 100px;
        }
        .svg-container{
            width: 53px;
        }
        .image-container-section img{
            min-height:314px;
        }
        .static-container{
           display:flex;
           align-items: center;
           min-width:136px;
           justify-content:space-between;
        }
        .filter-div{
            display:inline-flex;
            width: 90px;
            height:48px;
            align-items:center;
            justify-content:space-evenly;
            border:1px solid #DDDDDD;
            border-radius: 12px;
            background-color: #ffffff;
        }
        .circle-div{
            padding:7px;
            border-radius:100%;
            border:1px solid #c7c2c2;
        }
        .slider-contaienr{
            position:relative;
        }
        .static-container-container{
            position:absolute;
            right: 0px;
            top: 87px;
            display: flex;
            width: 177px;
            height: 66px;
            z-index: 100;
            background-color:#ffffff;
            box-shadow:-21px 2px 24px #ffffff;
        }
}
@media only screen and (min-width:950px){
    .section-image-container-two{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap:26px;
    }
    .slider{
        padding:0px 40px;
    }
    .image-container-section img{
        min-height:260px;
    }
    /* #hide-logo{
        display: block!important;
    } */
    .search-bar-header-top{
        margin-left:auto;
    }
    .second-part-header{
        width:234px;
    }
    .first-part-header{
        width:68.5%;
    }
    .search-bar-header-top{
        margin-left:auto;
    }
}
@media only screen and (min-width:1314px){
    .first-part-header{
        width:57.9%;
    }
    .second-section-text-container{
        letter-spacing:0.1ch;
    }
} 
@media only screen and (min-width:1128px){
     #hide-logo{
        display:block!important;
     }
    .svg-container{
        width:106px;
    }
    .footer-first-part{
        display: flex;
        justify-content:space-around;
       }
     .first-footer-first-part{
        flex-direction:column;
        flex-wrap:nowrap;
        width: 100%;
        }
        .footer-main-container{
            padding-left:80px;
            padding-right:80px;
            padding-top: 39px;
            padding-top: 47px;
        }
        .first-footer-first-part > p{
            flex-basis: auto!important;
            padding-left: 1px;
            margin-top:18px;
             }
        .first-footer-first-part p > span{
            height: auto;
        }
        .section-unknown{
            padding-left:80px;
            padding-right:80px;
        }
        .unknown-section{
            padding:0px 80px!important;
        }
        .section-image-container{
            padding-left: 80px;
            padding-right:80px;
        }
        .slider{
            padding: 0px 80px;
        }
        .header-tab-view{
            padding:0px 80px;
        }
        .static-container-container{
            right: 34px;
            width: 184px;
        }
        .footer-last-part{
            flex-direction:row;
            margin: 5px 0px;
        }
        .last-part-last-links-footer{
            order:2;
            padding-left:5px;
        }
        .footer-last-part-year-logo{
            order:2;
        }
        .footer-last-part-one{
        order:3;
        margin-left:auto;
        margin-bottom: 0;
        }
        .footer-main-container{
            padding-bottom:20px;
        }
        .footer-first-part > *{
            margin-bottom:17px;
            padding-bottom: 42px;
        }
        .third-section-flex-container > *{
            width: 25%;
        }
        .section-image-container-two{
            grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      .image-container-section{
        min-height: 258px;
      }
      .static-container-container{
        right: 0px;
        width: 218px;
      }
}
@media only screen and (min-width:1606px){
    .section-image-container-two{
        grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    }
        .header-tab-view{
            padding:0px 104px!important;
        }
        .section-image-container{
            padding-left:104px;
            padding-right:104px;
        }
}
@media only screen and (max-width:1127px){
    #most-wanted-span{
        display:none;
    }
}
@media only screen and (min-width:1785px){
    .slider{
        padding:0px 102px;
    }
    .unknown-section{
        margin: 0px 20px;
    }
    .section-unknown{
        margin-left: 20px;
        margin-right: 20px;
    }
    .footer-main-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    footer{
        background-color:#f7f7f7;   
}     
     .first-part-header{
        width: 59.9%;
     }
}